body {
  font-family: "Lexend", serif;
  width: 100%;
  min-height: 100vh; /* Allow full height */
  
  background-image: 
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/206/original/yoda-leftside.jpg?1748910011"),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/207/original/yoda-rightside.jpg?1748910019"),
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 100%);
    
  background-position: left center, right center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 30%, 30%, cover;
}

.container {
  width: 600px;
  margin: 30px auto;
  background: #A6DD97;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
header {
  margin-bottom: 30px;
}
img {
  width: 80px;
  display: block;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: "Lexend", serif;
  font-size: 38px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  margin-top: 10px;
}
h4 {
  text-align: center;
  font-family: "Lexend", serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  margin-top: 10px;
  opacity: 0.7;
}
.form-wrapper {
  background-color: #39612e;
  margin-bottom: 20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 5px;
}
.topic-form {
  display: flex;
  justify-content: center;
}
.topic-selector {
  font-family: "Lexend", serif;
  background-color: white;
  border-style: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  width: 65%;
}

.topic-submit {
  font-family: "Lexend", serif;
  background-color: rgb(22, 22, 22);
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  margin-left: 15px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  width: 20%;
}

.topic-submit:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.hint {
  font-size: 11px;
  line-height: 1.5;
  margin-top: 5px;
  padding-left: 45px;
  opacity: 0.7;
  color: white;
  font-style: italic;
}
.results {
  display: inline-block;
  padding: 10px;
  margin-left: 25px;
  line-height: 1.5;
  border-left: 3px solid rgb(165, 111, 190);
  font-size: 16px;
}

.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

footer a {
  color: rgb(60, 214, 13);
  text-decoration: none;
  font-weight: bold;
}
