body {
  font-family: "Lexend", serif;
  background-color: rgba(99, 99, 102, 0.2);
}

.container {
  width: 600px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-family: "Lexend", serif;
  font-size: 45px;
  color: rgb(192, 79, 183);
  line-height: 1.5;
}
.form-wrapper {
  background-color: rgb(240, 238, 247);
  margin-bottom: 20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 5px;
}
.topic-form {
  display: flex;
  justify-content: center;
}
.topic-selector {
  font-family: "Lexend", serif;
  background-color: white;
  border-style: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  width: 65%;
}

.topic-submit {
  font-family: "Lexend", serif;
  background-color: rgb(165, 111, 190);
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  margin-left: 15px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  width: 20%;
}
.hint {
  font-size: 10px;
  line-height: 1.5;
  margin-top: 5px;
  padding-left: 85px;
  opacity: 0.6;
}
.results {
  display: inline-block;
  padding: 10px;
  margin-left: 25px;
  line-height: 1.5;
  border-left: 3px solid rgb(165, 111, 190);
  font-size: 16px;
}

.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

footer a {
  color: rgb(165, 111, 190);
  text-decoration: none;
  font-weight: bold;
}
